@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Josefin+Sans:wght@300&family=Playfair+Display:wght@400&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-fugaz: "Fugaz One", cursive;
  --font-playfair: "Playfair Display", serif;
  --font-josefin: "Josefin Sans", sans-serif;

  /* Colors */
  --color-primary: #3267fe;
  --color-secondary: #ffd0d1;
  --color-accent: #97abff;
  --color-background: #f9f9f9;
}

:root {
  --nav-height: 82px;
}

body {
  @apply m-0 p-0 box-border font-josefin bg-background;
}

.size-screen {
  position: relative;
  width: 100dvw;
  max-width: 1080px;
  max-height: min(800px, 100dvh);
  margin: 0 auto;
}

.hero-background {
  @apply grid absolute top-0 left-0 bottom-0 right-0 grid-cols-2 gap-6;
}

.hero-background::after {
  content: "";
  @apply hidden sm:block absolute top-0 left-0 bottom-0 right-0;
  background: linear-gradient(
    180deg,
    #d9d9d900 50%,
    var(--color-background) 100%
  );
  opacity: 1;
}

.navbar {
  @apply sticky top-0 z-50 grid px-4 sm:py-1 border-y border-y-gray-200 backdrop-blur-[4px] bg-[length:4px_4px] from-gray-900/0 to-gray-50;
  background-image: radial-gradient(
    circle at center,
    var(--color-background) 2px,
    transparent 2px
  );
}

.profile-grid {
  position: relative;
  width: min(100%, 700px);
  height: calc(100%-var(--nav-height));
  display: grid;
  grid-template-areas:
    "desc desc"
    "desc desc"
    "desc desc"
    "loc job"
    "tech tech";
  gap: 1rem;
}

.profile-location {
  grid-area: loc;
}

.profile-job {
  grid-area: job;
}

.profile-tech {
  grid-area: tech;
}

.profile-desc {
  grid-area: desc;
  @apply p-8 space-y-4 bg-white sm:px-14 sm:py-10;
}

.profile-vertical-card {
  @apply p-6 bg-gray-100;
}

.profile-vertical-card div:nth-child(1) {
  @apply text-[20px] sm:text-[24px] font-playfair;
}

.profile-vertical-card div:nth-child(2) {
  @apply text-[10px] font-josefin opacity-50;
}

@keyframes translateOut {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes translateIn {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.techstack-1 {
  animation: translateIn 8s linear infinite;
}

.techstack-2 {
  animation: translateOut 8s linear infinite;
}

@media (min-width: 640px) {
  .profile-grid {
    grid-template-areas:
      "loc desc desc desc desc desc"
      "loc desc desc desc desc desc"
      "loc desc desc desc desc desc"
      "job desc desc desc desc desc"
      "job tech tech tech tech tech"
      "job tech tech tech tech tech";
  }

  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}
