---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Cat from "../components/Cat.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Matt Lee That's Me</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Josefin+Sans:wght@300&family=Playfair+Display:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Hero />
		<main>
			<Navbar />
			<About />
			<Projects />
			<Cat />
      
		</main>
		<Footer />
  </body>
</html>
